.site-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  nav {
    background-color: rgba(165, 17, 17, 0.74);
    grid-column: 1 / -1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  #wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: rgba(255, 145, 0, 0.767);
    grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(0, 175px)) repeat(3, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "nav nav nav nav nav nav"
      "header header header header header header"
      "leftcolumn leftcolumn rightcolumn rightcolumn rightcolumn rightcolumn"
      "footer footer footer footer footer footer";
  }
  
  header {
    background-image: linear-gradient(45deg, black, darkblue, darkorange);
    background-size: 200% 200%;
    animation: background-gradient 30s linear infinite;
    grid-column: 2 / -2;
    height: 250px;
  }
  
  #leftcolumn {
    grid-column: 2 / 5;
    background-color: rgba(15, 206, 110, 0.3);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #rightcolumn {
    grid-column: 5 / 8;
    background-color: rgba(192, 235, 39, 0.459);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: #f0f0f0;
    text-align: center;
    border: 5px solid;
    background-image: linear-gradient(45deg, orange, blue);
    background-size: 200% 200%;
    animation: rotateGradient 10s linear infinite;
    grid-column: 1 / -1;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: lightgoldenrodyellow;
    transition: color 0.5s ease-in-out;
  }
  
  h1:hover {
    color: red;
  }
  
  p {
    color: white;
  }
  
  img {
    width: 300px;
    height: 300px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    align-self: center;
  }
  
  img:hover {
    width: 350px;
    height: 350px;
  }
  
  #rightcolumn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  