#wrapper {
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: rgba(255, 145, 0, 0.767);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
}

nav {
    background-color: rgba(165, 17, 17, 0.74);
    grid-column: 1 / -1;
    height: 80px;
}

header {
    grid-column: 2 / -2;
    height: 50px;
}

#leftcolumn {
    grid-column: 2 / span 3;
    background-color: rgba(15, 206, 110, 0.3);
    height: 600px;
}

#rightcolumn {
    grid-column: 5 / span 3;
    background-color: rgba(192, 235, 39, 0.459);
    height: 600px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.site-wrapper {
    position: relative;
    overflow: hidden;
}

.site-wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: linear-gradient(45deg, black, darkblue, darkorange);
    background-size: 200% 200%;
    animation: background-gradient 30s linear infinite;
}

@keyframes background-gradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.gift {
    margin-bottom: 20px;
    justify-content: center;

}

.inverted {
    filter: invert(100%);
    transition: filter 0.5s ease-in-out;
}

.inverted:hover {
    filter: invert(0%);
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border: 5px solid;
    background-image: linear-gradient(45deg, orange, blue);
    background-size: 200% 200%;
    animation: rotateGradient 10s linear infinite;
    height: 70px;
    grid-column: 1 / -1;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

a {
    color: white;
}


p {
    color: white;
}


img {
    width: 300px;
    height: 300px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

img:hover {
    width: 350px;
    height: 350px;
}

div {
    border-width: 5px 10px 5px 10px;
}


h1 {
    color: lightgoldenrodyellow;
    transition: color 0.5s ease-in-out;
}

h1:hover {
    color: red;
}

h4 {
    color: lightgoldenrodyellow;
    transition: color 0.5s ease-in-out;
}

h4:hover {
    color: red;
}

h2 {
    color: white;
}

main {
    align-content: center;
    background-color: rgba(69, 69, 199, 0.466);
    height: 100px;
    grid-column: 2 / 5;
}